.table-title, .form-title {
  font-size: 2rem;
}

.section-title {
  font-size: 1.2rem;
}

.project-image {
  margin-bottom: 1rem;

  .image {
    margin-bottom: 1rem;

    .main-image {
      position: absolute;
      top: 5%;
      right: 10%;
      border-radius: 4rem;
      background-color: green;
      width: 2rem;
      height: 2rem;
      color: white;
      text-align: center;
      line-height: 2rem;
      font-weight: bold;
    }

    img {
      width: 100%;
    }
  }
}

.project-images-list {

  .image {
    img {
      max-width: 100px;
    }
  }
}