.cv-button-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;

  .btn {
    background-color: $grey-color;
    color: $header-color;
    text-align: center;
    padding: .2rem 4rem;
    cursor: pointer;
  }

  input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  .info {
    color: $dark-grey-color;
    text-align: center;
    font-size: .8rem;
    display: block;
  }

  label.error {
    display: block;
  }
}

.job-opps-submit {
  background-color: $header-color;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  padding: .2rem 4rem;
  border: none;
}

label.error {
  color: darkred;
}

.thank-you-header {
  color: $title-color;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.thank-you-text {
  text-align: center;
  color: $base-blue;
}