.category-checkbox {
  input[type=checkbox] {
	visibility : hidden;
  }

  label {
	cursor : pointer;
  }

  .form-check-label {
	span {
	  cursor     : pointer;
	  width      : 1rem;
	  height     : 1rem;
	  background : white;
	  border     : 2px solid black;

	  position   : absolute;
	  top        : 50%;
	  left       : 0;
	  margin-top : -.5rem;
	}

	input[type=checkbox]:checked + span {
	  &:after {
		content          : '';
		position         : absolute;
		width            : 100%;
		height           : 100%;

		background-color : #b9b9b9;
	  }
	}
  }
}

.project-item {
  font-family   : $base-font-family !important;
  margin-bottom : 3rem;

  .image {
	.categories-container {
	  position : absolute;
	  top      : 0;

	  .category {
		margin           : .5rem 1rem;
		padding          : .5rem 1rem;
		background-color : $base-blue;
		color            : white;
		text-align       : center;
		text-transform   : uppercase;
	  }
	}
  }

  .video {
	max-width : 100%;
  }

  .info {
	.title {
	  text-transform : uppercase;
	  padding        : 1rem 0;
	  color          : black;
	  font-weight    : bold;
	  font-size      : 1.5rem;
	}

	.description {
	  font-family   : $base-font-family !important;
	  color         : $project-description-color;
	  margin-bottom : 2rem;
	}

	.description-list {
	  margin-bottom : 2rem;
	  color         : $title-color;
	  list-style    : none;
	  padding-left  : 0;

	  li {
		span {
		  font-weight : bold;
		}
	  }
	}

	.details-button {
	  border           : 0;
	  padding          : 1rem 3.5rem;
	  text-transform   : uppercase;
	  cursor           : pointer;
	  background-color : $project-button-color;
	  color            : black;

	  margin-right     : 2rem;
	}

	.map-button {
	  background-color : $project-button-color;
	  padding          : 1rem 1rem;

	  img {
		height : 2rem;
	  }
	}
  }
}

.related-projects {
  background-color : $grey-color;

  .title {
	color          : $header-color;
	margin-bottom  : 1rem;
	font-weight    : bold;
	text-transform : uppercase;
	padding        : 1rem 0;
  }

  ul {
	list-style-position : inside;
	padding             : 0;

	li {
	  color : darken($grey-color, 40%);

	  a {
		color : $base-blue;
	  }
	}
  }
}

.photos-gallery {
  .item {
	padding : 1rem;

	img {
	}
  }
}

.project-info-table {
  .title {
	background-color : $header-color;
	text-align       : center;
	font-weight      : bold;
	color            : white;
	text-transform   : uppercase;
	padding          : .5rem 0;
	margin-bottom    : .5rem;
  }

  .info {
	border-bottom : 1px solid $title-color;
	padding       : .5rem 0;

	.key {
	  color : $title-color;
	}

	.value {
	  color : $base-blue;
	}
  }
}

.carousel-project-item {
  padding : 0 1rem;

  .image {
	margin-bottom : 1rem;

	img {
	  height : 150px;
	  width  : auto;
	  margin : auto;
	}
  }

  .title {
	color          : white;
	text-transform : uppercase;
	font-weight    : bold;
	margin-bottom  : 1.2rem;
	height         : 3rem;

	a {
	  color : white;
	}
  }

  .categories {
	ul {
	  list-style   : none;
	  padding-left : 0;
	}

	li {
	  color          : white;
	  text-transform : uppercase;
	  font-size      : .8rem;
	}
  }
}