:root {
  --font-primary: "Inter", sans-serif;
  --font-primary: "Inter", sans-serif;

  --color-default: #004259;
  --color-primary: #9C9A8C;
  --color-primary-light: #ffffff;
  --color-secondary: #2C7A93;
  --color-secondary-light: #D8D9DE;
  --color-dark: #000000;
  
  scroll-behavior: smooth;
}

::-moz-selection {
  color: #fff;
  background: var(--color-primary);
}

::selection {
  color: #fff;
  background: var(--color-primary);
}

::-moz-selection {
  color: var;
  background: var(--color-primary);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-default);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

/*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-primary);
  color: var(--color-dark);
  overflow-x: hidden;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5, 
h6, .h6 {
  color: var(--color-default);
  font-family: var(--font-primary);
  font-weight: 700;
  
}

.btn-primary {
  background: var(--color-default);
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: bold;
  padding: 16px 32px;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn-primary:focus {
  border: none;
  background: var(--color-secondary);
}

.btn-primary:hover {
  background: var(--color-secondary);
  color: #ffffff;
  transform: scale(1.05);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--color-default) !important;
  border-color: var(--color-default) !important;
}

@media (max-width: 768px) {
  .btn-primary {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
}

/*--------------------------------------------------------------
  # Sections & Section Header
  --------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: white;
}

.section-bg-default {
  background-color: var(--color-default);
}

.section-bg-primary-light {
  background-color: var(--color-primary-light);
}

.section-bg-secondary-light {
  background-color: var(--color-secondary-light);
}

.section-header h2 {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  color: #2e3135;
}

.section-header p {
  margin: 0 auto 0 auto;
}

section .content h3 {
  color: var(--color-default);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-bottom: 24px;
  position: relative;
}

section .content h3:after {
  background: var(--color-secondary);
  border-radius: 8px;
  bottom: 0;
  content: "";
  display: block;
  height: 8px;
  left: 0;
  position: absolute;
  width: 64px;
}

section img {
  width: 100%;
  height: auto;
}

section .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

section .videoWrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width: 1199px) {
  .section-header p {
    max-width: 60%;
  }
}

/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
.breadcrumbs {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  padding: 64px 0;
  position: relative;
}

.breadcrumbs:before {
  background-color: rgba(23, 33, 36, 0.5);
  content: "";
  inset: 0;
  position: absolute;
}

.breadcrumbs h2 {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  font-family: var(--font-primary);
}

.breadcrumbs a {
  font-size: 12px;
  color: white;
}

@media (max-width: 768px) {
  .breadcrumbs {
    min-height: 30vh;
    padding: 64px 24px 32px 24px;
  }

  .breadcrumbs h2 {
    font-size: 40px;
  }
}

/*--------------------------------------------------------------
  # Scroll top button
  --------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 16px;
  bottom: 16px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--color-primary-light);
  line-height: 0;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--color-default);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  border: 6px solid #fff;
  border-color: var(--color-primary) transparent var(--color-primary)
    transparent;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.header {
  z-index: 997;
  position: absolute;
  padding: 24px 0;
  top: 0;
  left: 0;
  right: 0;
}

.header .logo img {
  max-height: 64px;
}

@media screen and (max-width: 1440px) {
  .header .logo img {
    max-height: 56px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .header .logo img {
    max-height: 40px;
    margin-left: 0;
  }
}

.header .btn-siges {
  background: var(--color-primary);
  border: 0;
  padding: 16px 32px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
  border-radius: 8px;
  margin-left: 32px;
}

.header .btn-siges-mobile {
  display: none;
}

.header .btn-siges a:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}

.header .langflags {
  background: none;
  margin: 0 16px;
}

@media screen and (max-width: 768px) {
  .header .btn-siges {
    display: none;
    visibility: hidden;
    list-style-type: none;
  }

  .header .btn-siges-mobile {
    background: var(--color-primary);
    border-radius: 8px;
    border: 0;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 24px;
    padding: 16px 32px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s;
    width: 286px;
  }

  .header .langflags {
    background: none;
    margin-right: 8px;
  }
}

/*--------------------------------------------------------------
  # Menu Toggle
  --------------------------------------------------------------*/
  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  .menu__btn {
    background-color: var(--color-primary-light);
    border-radius: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 24px;
    right: 24px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    z-index: 999;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 32px;
    height: 2px;
    background-color: var(--color-primary);
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 240px;
    height: auto;
    margin: 0;
    padding: 80px 0 40px 0px;
    list-style: none;
    background-color: var(--color-default);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, .5);
    transition-duration: .35s;
    z-index: 998;
  }
  
  .menu__item {
    display: block;
    padding: 16px;
    color: var(--color-secondary-light);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition-duration: .35s;
  }
  .menu__item:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary-light);
  }

@media screen and (max-width: 768px) {
  .menu__item {
    padding: 16px 24px;
  }

  .menu__btn {
    padding: 8px;
    top: 20px;
    right: 16px;
    width: 48px;
    height: 48px;
}
}

/*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/
.navbar {
  padding: 0;
  margin-right: 96px;
}

@media screen and (max-width: 768px) {
  .navbar {
    margin-right: 72px;
  }
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-primary);
  white-space: nowrap;
  position: relative;
}

@media (min-width: 1280px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
  overflow: hidden;
}

#hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-default);
  opacity: 0.2;
  z-index: 1;
}

#hero .container {
  position: relative;
  text-align: center;
  z-index: 2;
}

#hero h1 {
  margin: 0 0 32px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  color: white;
  text-transform: uppercase;
}

#hero h2 {
  color: white;
  margin-bottom: 40px;
  font-size: 32px;
}

#hero .social-icons {
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: baseline;
  z-index: 9999;
  display: flex;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero .social-icons a {
  font-size: 16px;
  display: inline-block;
  background: var(--color-primary);
  color: #fff;
  line-height: 32px;
  margin: 8px;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  transition: 0.3s;
  text-align: center;
}

#hero .social-icons a:hover {
  background: var(--color-primary-light);
  color: var(--color-primary);
}

#hero .item-1,
#hero .item-2,
#hero .item-3 {
  position: absolute;
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -6%);
}

#hero .item-1 {
  animation-name: anim-1;
}

#hero .item-2 {
  animation-name: anim-2;
}

#hero .item-3 {
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%,
  8.3% {
    top: -10%;
    opacity: 0;
  }

  8.3%,
  25% {
    top: 5%;
    opacity: 1;
  }

  33.33%,
  100% {
    top: 10%;
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33.33% {
    top: -10%;
    opacity: 0;
  }

  41.63%,
  58.29% {
    top: 5%;
    opacity: 1;
  }

  66.66%,
  100% {
    top: 10%;
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66.66% {
    top: -10%;
    opacity: 0;
  }

  74.96%,
  91.62% {
    top: 5%;
    opacity: 1;
  }

  100% {
    top: 10%;
    opacity: 0;
  }
}

@media (max-width: 1440px) {
  #hero {
    background-attachment: fixed;
  }
  #hero h1 {
    font-size: 48px;
    line-height: 1;
    margin: 0 0 24px 0;
  }
  #hero h2 {
    font-size: 24px;
    line-height: 1;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 40px;
  }

  #hero h2 {
    font-size: 24px;
  }
}

/*--------------------------------------------------------------
  # services Section
  --------------------------------------------------------------*/
.services .card-item {
  border: 1px solid rgba(82, 86, 94, 0.2);
  background: #fff;
  position: relative;
  border-radius: 0;
}

.services .card-item .card-bg {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.services .card-item .card-body {
  padding: 18px;
}

.services .card-item h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.services .card-item p {
  margin: 0;
}

/*--------------------------------------------------------------
  # valores Section
  --------------------------------------------------------------*/
.valores .service-item {
  padding: 32px;
  background: #fff;
  height: 100%;
}

.valores .service-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 40px;
}

.valores .service-item .icon i {
  color: var(--color-secondary);
  font-size: 48px;
  z-index: 2;
  position: relative;
  line-height: 1.8;
}

.valores .service-item h3 {
  color: var(--color-default);
  font-weight: 700;
  font-size: 24px;
}

.valores .service-item hr {
  border-top: 5px solid var(--color-default);
  opacity: 1 !important;
}

/*--------------------------------------------------------------
  # proyectos Section
  --------------------------------------------------------------*/
.proyectos .portfolio-content, .proyectos .proyectos_por_tipo {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: inline-grid;
}

.proyectos .portfolio-content {
  height: 400px;
}

.proyectos .proyectos_por_tipo {
  height: 255px;
}

.proyectos .portfolio-content img, .proyectos .proyectos_por_tipo img {
  transition: 0.3s;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.proyectos .portfolio-content .portfolio-info, .proyectos .proyectos_por_tipo .proyectos_por_tipo-info {
  position: absolute;
  inset: 0;
  z-index: 3;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
  padding: 8px;
}

.proyectos .portfolio-content .portfolio-info h4 {
  background-color: var(--color-primary);
  color: var(--color-primary-light);
  display: inline-block;
  font-size: 12px;
  margin-right: 8px;
  padding: 8px;
  text-transform: uppercase;
}

.proyectos .proyectos_por_tipo .proyectos_por_tipo-info h5 {
  bottom: 24px;
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.proyectos .portfolio-content .portfolio-info p {
  bottom: 32px;
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  font-size: 20px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.proyectos .portfolio-content .portfolio-info .ver-mas {
  position: absolute;
  bottom: 16px;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}


.proyectos .portfolio-content:hover .portfolio-info {
  opacity: 1;
}

.proyectos .portfolio-content:hover img {
  transform: scale(1.1);
}

.proyectos .search-control,
.proyectos .form-select {
  background-color: white;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border: 2px solid var(--color-default);
  color: var(--color-default);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
}

.proyectos .search-control + .input-group-btn .btn {
  align-items: center;
  background-color: var(--color-default);
  border: 1px solid var(--color-default);
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 8px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 2px;
  width: 40px;
}

.category-checkbox {
  display: inline-block;
  cursor: pointer;
  padding: 14px;
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  margin: 0 14px 14px 0px;
}

.category-checkbox input[type="checkbox"] {
  border: 2px solid var(--color-primary);
  border-radius: 8px;
}

.category-checkbox label {
  cursor: pointer;
  font-size: 18px;
  color: var(--color-primary);
  font-weight: 700;
}

@media (max-width: 768px) {
  .category-checkbox label {
    font-size: 12px;
  }
  .category-checkbox {
    padding: 6px;
    margin: 0 4px 4px 0px;
}
}

.category-checkbox .form-check-label span {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background: white;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.5rem;
}

.category-checkbox
  .form-check-label
  input[type="checkbox"]:checked
  + span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b9b9b9;
}

.category-checkbox:checked,
.category-checkbox .form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.related-projects ul {
  list-style-position: inside;
  padding: 0;
}
.owl-carousel .owl-theme .photos-gallery .item {
  padding: 1rem;
}

.carousel-project-item {
  padding: 0 1rem;
}
.carousel-project-item .image {
  margin-bottom: 1rem;
}
.carousel-project-item .image img {
  height: 150px;
  width: auto;
  margin: auto;
}
.carousel-project-item .title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.2rem;
  height: 3rem;
}
.carousel-project-item .title a {
  color: white;
}
.carousel-project-item .categories ul {
  list-style: none;
  padding-left: 0;
}
.carousel-project-item .categories li {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}


/*--------------------------------------------------------------
  # Own Carousel
  --------------------------------------------------------------*/

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 8px;
  background: var(--color-primary-light);
  border: 1px solid var(--color-primary);
  border-radius: 0px;
}


/*--------------------------------------------------------------
  # job_opportunities Section
  --------------------------------------------------------------*/
.job_opportunities .php-email-form {
  position: relative;
  overflow: hidden;
  display: flex;
}

.job_opportunities .php-email-form .form-group {
  padding-bottom: 24px;
}

.job_opportunities .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.job_opportunities .php-email-form .error-message br + br {
  margin-top: 25px;
}

.job_opportunities .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.job_opportunities .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.job_opportunities .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.job_opportunities .php-email-form label {
  font-size: 12px;
  margin-bottom: 8px;
}

.job_opportunities .php-email-form input:focus,
.job_opportunities .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.job_opportunities .php-email-form input, .job_opportunities .php-email-form select, .select2-container--default .select2-selection--single {
  box-shadow: 0px 5px 5px (0,0,0,0.5) !important;
  border: 1px solid var(--color-default) !important;
  border-radius: 8px !important;
  padding: 8px !important;
  line-height: 2 !important;
  font-size: 14px !important;
}

.job_opportunities .php-email-form label#nombre-error {
  color: red;
}

.job_opportunities .php-email-form .info {
  font-size: 12px;
  color: grey;
}

.job_opportunities .php-email-form button[type="submit"] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.select2-container .select2-selection--single {
  height: auto !important;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
  # Recent Blog Posts Section
  --------------------------------------------------------------*/
.news-posts .post-item .post-img{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  display: inline-grid;
}

.news-posts .post-item .post-img img {
  transition: 0.5s;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.news-posts .post-item .post-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--color-default);
  color: #fff;
  font-size: 12px;
  padding: 8px 16px;
}

.news-posts .post-item .post-content {
  padding: 24px 0;
}

.news-posts .post-item .post-title {
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.news-posts .post-item .readmore {
  display: flex;
  align-items: center;
  line-height: 1;
  transition: 0.3s;
  color: var(--color-secondary);
  font-weight: 700;
}

.news-posts .post-item:hover .post-title,
.news-posts .post-item:hover .readmore {
  color: var(--color-default);
}

.news-posts .post-item:hover .post-img img {
  transform: scale(1.1);
}


/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.footer {
  background-color: var(--color-default);
  color: #fff;
  font-size: 16px;
  padding: 100px 0 0 0;
  position: relative;
}

.footer .footer-content .footer-info {
  margin-bottom: 30px;
}

.footer .footer-content .footer-info p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.footer .footer-content .footer-links {
  margin-bottom: 80px;
}

.footer .footer-content .footer-links h3 {
  color: #ffffff;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .footer-links ul li {
  padding: 8px 0;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-legal{
  background-color: var(--color-dark);
}

.footer .footer-legal .copyright .social-links {
  display: flex;
  justify-content: end;
}

.footer .footer-legal .copyright .social-links a {
  font-size: 16px;
  background-color: var(--color-primary-light);
  color: var(--color-default);
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

.footer .footer-legal .copyright .social-links a:hover {
  background: var(--color-primary);
  color: var(--color-primary-light);
  text-decoration: none;
}

.footer .footer-legal .copyright {
  padding: 30px 0;
}